.hela {
  display: grid;

}

#rubrik {
  display: grid;
  justify-self: center;
  font-weight: 500;
  font-size: 8vh;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  grid-column: 1;
  grid-template-columns: 50% 50%;
}

#rubriktext {
  grid-row: 1;
  justify-self: center;
  grid-column: span 2;
}

#innerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 100fr));
  text-align: center;
  margin-bottom: 10px;
  gap: 3em;
  margin-left: 0.5vh;
}

.matbox {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  height: 105%;
}

.full {
  transition: 1.2s linear;
  transition: all 1.75s ease;
  transform: translateX(0) rotate(0deg);
  transition: all .75s ease;

  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



#add {
  width: 4vh;
  left: 1vh;
  cursor: pointer;
  grid-row: 2;
  justify-self: center;
  justify-self: left;
}

#add:hover {
  transform: scale(1.1);
}

#ny {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  display: grid;
  width: 90%;
  height: 60vh;
  gap: 2%;
  position: absolute;
  top: 20%;
  left: 5%;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#rubrikNy {
  justify-self: center;
  font-size: 150%;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-row: 1;
}

#maträtt {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  grid-row: 2;
  top: 2px
}

#matTyp {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  grid-row: 3;
  top: 2px;
  border: 1px solid;
  height: 73%;
  border-radius: 3px;
}

#recept {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  grid-row: 4;
}

#kommentar {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  grid-row: 5;
}

#betyg {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  grid-row: 6;
}

#antalbetyg {
  margin-left: 10px;
  position: absolute;
  top: 70%;
  font-size: 70%;
  font-family: sans-serif;
}

#namn {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  grid-row: 7;
}

.matTyp {
  text-align: center;
  border: none;
}

#välj {
  grid-row: 8;
  text-align: center;
}

.send {
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
  font-size: large;
}

.send:hover {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ;
}

#removeMaträtt {
  display: grid;
  text-align: center;
  grid-template-columns: 3% 97%;
  height: 7vh;
  text-align: center;
  grid-row: 1;
}

.remove {
  cursor: pointer;
  justify-self: left;

  grid-row: 1;
  grid-column: 1;
  font-size: 3vh;

}

.remove:hover {
  transform: scale(1.1);
}

.fullscreen {
  cursor: pointer;
  justify-self: right;
  grid-row: 1;
  grid-column: 3;
  font-size: 2vh;
  grid-column: 2;
  right: 2vh;
  margin-top: 1%;
  margin-right: 1%;

}

.fullscreen:hover {
  transform: scale(1.1);
}

.fullscreenn:hover {
  transform: scale(1.1);
}



#maträtt2 {
  justify-self: center;
  border-radius: 10px;
  margin-top: 3px;
  font-size: 3vh;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  grid-row: 1;
  grid-column: 2;
}

#gridinner {
  display: grid;
  grid-template-columns: 48% 48%;
  height: 12em;
  margin-top: 20px;
  gap: 2%;
  margin-top: 0px;
}

#fullinner {
  display: grid;
  grid-template-columns: 48% 48%;
  height: 48em;
  margin-top: 20px;
  gap: 2%;
  margin-top: 0px;
}

.rubrikinner {
  font-weight: bold;
  margin-top: 2%;
  font-size: 150%;
  grid-row: 1;
}

#textareafull {
  height: 80%;
  font-size: 150%;

}

.inner {
  background-color: white;
  border-radius: 10px;
  margin: 2%;
}


.star {
  grid-row: 1;
  justify-self: right;
  position: absolute;
  right: 3%;
  top: 62%;
  cursor: pointer;
}

#star:hover {
  transform: scale(1.1);
}

#newdate {
  justify-self: left;
  margin-left: 10px;
  text-align: left;
  width: 200%;
  font-size: 1.5vh;
  margin-top: 3vh;
}

#serchPlanering {
  grid-row: 2;
  grid-column: 2;
  width: 10vh;
  height: 4vh;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 30%;
  justify-self: center;
  justify-self: right;
  margin-top: 15%;
  z-index: 1;
}

#filterAndClose {
  margin-right: 1px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  margin-right: 0px;
  margin-top: -1.5vh;
  grid-template-columns: 55% 45%;
}

#filter {
  width: 4vh;
  grid-row: 2;
  grid-column: 2;
  cursor: pointer;
  justify-self: right;
  margin-top: -3vh;
}

#closeFilter {
  width: 2vh;
  margin-top: -1.5vh;
  justify-self: right;
  grid-row: 1;
  grid-column: 1;
  cursor: pointer;
  position: absolute;
  right: 21vh;

}

#matTypFilt {
  font-size: 1.5vh;
  justify-self: center;
  width: 15vh;
  justify-self: right;
  grid-row: 1;
  grid-column: 2;
  margin-right: 4vh;
}

#filter:hover {
  transform: scale(1.1);
}

.textArea {
  width: 90%;
  border: none;
}

.rutaTaBortPlanering {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  height: 5em;
  width: 12em;
  font-size: medium;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

#TaBortTextPlanering {
  grid-column: span 2;
  margin: 0px;
}

.TaBortJaPlanering {
  grid-row: 2;
  cursor: pointer;
  border: 1px solid;
  margin: 20px;
  border-radius: 20px;
}

.TaBortJaPlanering:hover {
  transform: scale(1.1);
}

#ratebox {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 5em;
  width: 100%;
  font-size: medium;
  display: grid;
  grid-template-columns: auto;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

#rateRubrik {
  grid-column: span 10;
  grid-row: 1;
}

.starOfylld {
  justify-self: center;
  top: 30%;
  position: absolute;
}

#starFylld {
  color: yellow;
  position: absolute;
  top: 30%;
}

#starBoth {
  grid-row: 2;
  justify-self: left;
  width: 1vh;
}

.betygSend {
  grid-column: span 5;
  gap: 20%;
  grid-row: 3;
  cursor: pointer;
  transform: scale(1.1);
}